<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>添加学生</title>
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link href="/public/css/main.css" rel="stylesheet">
</head>
<style>
    body{
        background: url("../public/img/bg.jpg") repeat;
    }
    .login-register{
        height:auto;
        width: 400px;
        margin: 82px auto;
        background-color: #7cbabe;
        overflow: hidden;
    }
    .form-group{
        margin: 0 auto 25px;
    }
    .form-control{
        padding: 20px 12px;
        font-size: 18px;
    }
    
</style>
<body>
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/students">学生管理系统</a>
    </div>
</div>
<div class="login-register">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">添加学生</h2>
            <form action="/students/new" method="post">
                <div class="form-group">
                    <label for="">姓名</label>
                    <input type="text" class="form-control" id="" name="name" required minlength="2" maxlength="10">
                </div>
                <div class="form-group">
                    <label for="">性别</label>
                    <div>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="" value="0" checked> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="" value="1"> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">年龄</label>
                    <input class="form-control" type="number" id="" name="age" required min="1" max="150">
                </div>
                <div class="form-group">
                    <label for="">状态</label>
                    <input class="form-control" type="text" id="" name="state">
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                    <div class="col-md-2" style="height: 20px">
                    </div>
                    <div class="col-md-5">

                        <a href="/students">
                            <button type="button" class="btn btn-default">取消</button>
                        </a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>

</html>
